.icon-img {
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 50vh;
    height: auto;
}

.bars-img {
    position: absolute;
    right: 0;
    height: 100vh;
    width: auto;
}

.btns {
    position: absolute;
    right: 15vw;
    top: 20vh;
    height: 60vh;
    width: 30vw;
}

.page-title {
    color: #125159;
    font-weight: 600;
    font-style: normal;
    line-height: 48px;
    font-size: 32px;
}

.dashboard-btn {
    height: 15%;
    width: 100%;
    font-size: 125%;
    font-weight: 500;
}

.logout-btn {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 125%;
    font-weight: 500;
    color: #591212;
}

@media only screen and (max-width: 975px) {
    .btns {
        position: absolute;
        right: 15vw;
        top: 60vh;
        height: 60vh;
        width: 80vw;
    }
    .icon-img {
        position: absolute;
        top: 10vh;
        left: 25vw;
        width: 30vh;
        height: auto;
    }
    .bars-img {
        position: absolute;
        right: 0;
        height: 120vh;
    }
}