#header {
    margin: 20px;
}

#img-text {
    font-weight: 700;
    line-height: 48px;
    color: #125159;
    -webkit-text-stroke: 1px #DFE5E6;
}

.card-img-overlay {
    padding-top: calc(20vw - 7vh);
    font-size: 2vw;
}

.card-img-overlay .card-text {
    font-weight: 700;
    color: #125159;
    -webkit-text-stroke: 1px #DFE5E6;
}

@media screen and (max-width:800px) {
    .card-img-overlay {
        font-size: 13px !important;
    }
    #img-text {
        -webkit-text-stroke: 0px !important;
    }
}

.page-title {
    color: #125159;
    font-weight: 600;
    font-style: normal;
    line-height: 48px;
    font-size: 32px;
}

.horizontal-card {
    border: 2px dashed #909A9B;
    border-radius: 20px;
    width: 80vw;
    background-color: #DFE5E6;
}

.form-label {
    font-size: 2vw;
    font-weight: 500;
}

.form-field {
    padding-left: 20px;
    font-size: 2vw;
    font-weight: 400;
    border-radius: 30px;
    width: 40vw;
    height: 4vw;
    border-width: 1px;
    border-color: #CCCCCC;
}

.form-btn {
    position: absolute;
    font-size: 1.5vw;
    right: 10vw;
    color: #FFFFFF;
    width: 7vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #125159;
}