#header {
    margin: 70px;
  }
  
  #img-text {
    font-weight: 700;
    line-height: 48px;
    color: #125159;
    -webkit-text-stroke: 1px #DFE5E6;
  }
  
  .card-img-overlay {
    padding-top: 28vh;
    font-size: 2vw;
  }
  
  .card-img-overlay .card-text {
    font-weight: 700;
    line-height: 48px;
    color: #125159;
    -webkit-text-stroke: 1px #DFE5E6;
  }
  
  @media only screen and (max-width: 720px) {
    .card-img-overlay {
      padding-top: 1vh;
      font-size: 2vw;
    }
  }
  
  @media only screen and (max-width: 950px) {
    .card-img-overlay {
      padding-top: 10vh;
      font-size: 2vw;
    }
  }
  
  @media only screen and (max-width: 1180px) {
    .card-img-overlay {
      padding-top: 15vh;
      font-size: 2vw;
    }
  }
  
  @media only screen and (max-width: 1310px) {
    .card-img-overlay {
      padding-top: 20vh;
    }
  }

  .page-title {
    color: #125159;
    font-weight: 600;
    font-style: normal;
    line-height: 48px;
    font-size: 32px;
  }

  .horizontal-card {
    border: 2px dashed #909A9B;
    border-radius: 20px;
    width: 80vw;
    background-color: #DFE5E6;
  }

  .form-label{
    font-size: 2vw;
    font-weight: 500;
  }

  .form-field{
    padding-left: 20px;
    font-size: 2vw;
    font-weight: 400;
    border-radius: 30px;
    width: 40vw;
    height: 4vw;
    border-width: 1px;
    border-color: #CCCCCC;
  }

  .form-btn{
    position: absolute;
    right: 10vw;
    color: #FFFFFF;
    width: 144px;
    height: 61px;
    border-radius: 15px;
    background-color: #125159;
  }