/* GLOBALSTYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}

/* End of GLOBALSTYLES */

/* NAVBAR */
.navbar {
  background: #125159;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.navbar-title {
  font-weight: 600;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 24px;
  line-height: 36px;
}

.brand-img {
  width: 73.83px;
  height: 72px;
}

.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: #fff;
  gap: 13px;
}

@media screen and (max-width: 300px) {
  .navbar-title {
    font-size: 10px;
  }
}

/* End of NAVBAR */

/* FOOTER */

/* End of FOOTER */